<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FeaturesCategories',
  props: {
    categories: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
});
</script>

<template>
  <div class="feature-categories">
    <ul class="feature-categories__list">
      <li
        v-for="category of categories"
        :key="category"
        class="feature-categories__item"
      >
        <img
          class="slp-mr-16"
          src="/nuxt-images/icons/slp-success-checkmark.svg"
          alt=""
        />
        <span>{{ category }}</span>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.feature-categories {
  &__list {
    @media (min-width: $breakpoint-md) {
      column-count: 2;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    margin-bottom: $spacing-8;
  }
}
</style>
